@import 'quill/dist/quill.core.css';

/* .ql-container {
  box-sizing: border-box;
  font-family: inherit !important;
  font-size: inherit !important;
  font-size: 1em;
  height: 100%;
  margin: 0px;
  position: relative;
} */

/* .ql-editor {
  padding: 0 !important;
  font-family: inherit !important;
} */

/* .polly-text-editor p {
  margin-bottom: 0.75em;
} */
