{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "properlyIndent": true,
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false
}